[2020-11-12 23:29] FoxxMD opened #1 "Handle access token expiration"
- [ ] Store expiry data
- [ ] Check expiry data and refresh token on iteration

[2020-11-12 23:30] FoxxMD opened #2 "Refactor spotify loop into a class for better state handling"
Refactoring `initSpotify` and spotify api initializing into a class will make it easier to handle api errors/reauthentication as well as reinitializing without restarting app if auth code callback is needed again

[2020-11-12 23:31] FoxxMD opened #3 "Use an actual logging library"
Don't have time to implement my own library and the current solution isn't handling things well enough (want log levels prefixed, timestamps, and log file actually appended when written to instead of waiting to close file)

[2020-11-12 23:35] FoxxMD opened #4 "Show some basic data through express endpoints"
Log to a buffer and then tail it to show at root url so that user's can see current status (connected), stats, and recent log

[2020-11-13 04:27] #3 closed

[2020-11-13 23:17] FoxxMD commented on #1
Done by using refresh tokens correctly, don't need to check expiration

[2020-11-13 23:17] #1 closed

[2020-11-16 16:55] #4 closed

[2020-11-19 15:04] #2 closed

[2020-11-21 08:53] abb0r opened #5 "Error on startup on Unraid"
I set the variables in the docker template for Plex and Maloja, but when starting the docker I get this error in the log:

[code]

[2020-11-23 14:42] FoxxMD commented on #5
This should be fixed now. Update your container and let me know if its woring.

[2020-11-25 01:27] abb0r commented on #5
Yes, the docker is working now, but it doesn't pick up any track from the Plex (and Tautulli) webhook.

[2020-11-25 19:11] FoxxMD commented on #5
@abb0r can you try updating your container to use `foxxmd/multi-scrobbler:develop` and let me know if that fixes the issue? If nothing else it will provide more detailed error logging to help me debug your issue.

[2020-11-25 22:29] crosbyh commented on #5
One data point, I was experiencing these same error messages using Tautulli, and updating to the develop branch resolved the issue.

[2020-11-25 22:33] crosbyh opened #6 "Tracks showing up in multi-scrobbler, but not Maloja"
I have multi-scrobbler set up to pull info in from Plex (via Tautulli) and Spotify. I have Maloja set up via API using ENV variables.

I am running in both applications in Docker. using multi-scrobbler:develop.

When multi-scrobbler starts up, the logs show:

[code]

And when I play tracks in Spotify and Plex, they show up in the multi-scrobbler logs. However, the tracks never appear in Maloja. Am

[2020-11-25 22:36] FoxxMD commented on #6
Do you see a scrobble confirmation in the log for Maloja? It should look like this once the app completes an api call to Maloja for a track scrobble:

[code]

[2020-11-25 22:51] FoxxMD commented on #6
Just deployed a change that may fix this as well...please try updating your container :) latest or develop

[2020-11-25 23:00] crosbyh commented on #6
I updated my container on develop and it doesn't seem to have fixed the issue. I also updated my Maloja HOST setting because I noticed it was still set for IPV6. Set Maloja HOST=0.0.0.0 but that did not seem to fix the issue either. Still seeing a message on startup of multi-scrobbler that suggests successful connection to Maloja, but nothing shows up in Maloja.

I am not seeing scrobble confirmat

[2020-11-25 23:53] FoxxMD commented on #6
Thanks for the info. Your maloja instance is fine, `Test connection succeeded!` from your first log means its working. It's definitely an issue with this app :) I have been writing code under the assumption of an existing history in Maloja because that's how mine looks...so I'm running into use-cases now that break things when Maloja has zero history. Sorry! I will do more testing tomorrow with a

[2020-11-26 03:03] abb0r commented on #5
Plex webhook also works. Thanks for the fast fix!

[2020-11-26 03:03] #5 closed

[2020-11-27 03:22] crosbyh commented on #6
I downloaded the latest update on `develop` and it solved the problem. Multi-scrobbler and Maloja seem fully functional. Thanks for the help and for developing multi-scrobbler! Very excited to have this set up.

[2020-11-27 23:39] #6 closed

[2020-11-30 20:32] stayupthetree opened #8 "Instructions Unclear, Built A Table."
Wanted to test it out, but had to come all the way to the Git hub to learn how to configure it. You have sample configs on the github, would it be possible to include those when installing in Unraid? Because right now all the appdata folders are empty, including the samples you already had created would be helpful.

[2020-11-30 22:48] FoxxMD commented on #8
Thanks for the feedback!

In the short term I will add more info about configuration in the unraid post.

I'm not already including the examples when using docker because it's new to me and I'm certain i'll have to do some permission checking and UID stuff in the dockerfile and in the app. Once I've experimented with that and am sure I'm not going to overwrite or break things I'll add them!

[2020-12-04 15:49] FoxxMD opened #9 "Feature: Integrate Apple Music API"
Apple Music implements a [recently played api.](https://developer.apple.com/documentation/applemusicapi/get_recently_played_resources)

- [ ] Register for a [MusicKit identifier](https://help.apple.com/developer-account/#/devce5522674) to use for testing
- [ ] Find an existing library for authenticating with the service or DIY [authentication](https://developer.apple.com/documentation/applemusicap

[2020-12-04 16:13] FoxxMD commented on #9
Won't implement. Apple requires enrollment in the [Developer program](https://developer.apple.com/support/app-capabilities/) which costs $99 a year. Obnoxious :roll_eyes:

[2020-12-04 16:49] FoxxMD opened #10 "Feature: Subsonic API integration"
- [x] Implement authentication configuration data and flow
- [x] Implement connectivity test on initialization with [`ping`](http://www.subsonic.org/pages/api.jsp#ping) api
- [x] Handle errors in api wrapper
- [ ] Handle api version check (support >=1.15.0 for airsonic) -- part of error handling
- [x] Poll subsonic server on the [`getNowPlaying`](http://www.subsonic.org/pages/api.jsp#getNowPlaying

[2020-12-04 17:05] FoxxMD opened #11 "Feature: Funkwhale API Integration"
- [ ] Implement authentication ([oauth](https://docs.funkwhale.audio/developers/authentication.html) or [application token?](https://docs.funkwhale.audio/swagger/))
- [ ] Poll [`listenings`](https://docs.funkwhale.audio/swagger/#/User_activity/get_api_v1_history_listenings) endpoint for tracks

[2020-12-04 17:19] FoxxMD opened #12 "Feature: Emby Webhook Integration"
- [ ] Implement parsing a request from Emby's [Webhook](https://support.emby.media/support/solutions/articles/44001848859-webhooks) to scrobble now play (or scrobble events?)
- [ ] Implement filtering by user(s) -- should be similar to plex

[2020-12-04 17:55] FoxxMD opened #13 "Feature: Support per-user configurations for source/client (multi-user mode)"
- [x] Refactor configuration parsing with sane defaults and checks -- with backwards compatibility
  - [x] Add "config name" property to **client** configs
    - [x] (Backwards Compatibility) first config without a name is set to `default`
    - [x] (Backwards Compatibility) Check that there isn't an unnamed config and a named `default` config
    - [x] Check for unique names
    - [x] Support cli

[2020-12-07 23:52] Extarys opened #15 "Feature: Jellyfin 10.7 API Integration"
The backend is similar to emby but I'm unsure how much the API might be different now.

If this is implemented I would refer to the 10.7 release of Jellyfin (docker image currently labeled as **stable-rc**).

[2020-12-08 00:14] FoxxMD commented on #15
Their documentation seems lacking...most I've found is this [plugin page](https://jellyfin.org/docs/general/server/plugins/index.html) and a short [notifications page](https://jellyfin.org/docs/general/server/notifications.html). I haven't found any documentation on how emby's webhooks work either :shrug:

Do you currently use Jellyfin? If you can find a way to post events to a URL (maybe with thi

[2020-12-08 15:24] FoxxMD commented on #13
Completed with release of [0.3.0](https://github.com/FoxxMD/multi-scrobbler/releases/tag/0.3.0)

[2020-12-08 15:24] #13 closed

[2020-12-08 15:59] FoxxMD opened #16 "Feature: ListenBrainz API Integration"
- [ ] Implement api wrapper for listenbrainz api
  - [ ] Implement optional [authorization](https://listenbrainz.readthedocs.io/en/production/dev/api/#get--1-validate-token) validation
  - [ ] Implement [submit-listens endpoint](https://listenbrainz.readthedocs.io/en/production/dev/json/#submission-json)
  - [ ] Implement [recent-listens](https://listenbrainz.readthedocs.io/en/production/dev/api/#

[2020-12-08 15:59] Extarys commented on #15
@FoxxMD There is the [Plugin API documentation here](https://jellyfin.org/docs/plugin-api/index.html) in case you missed it (I discovered that page a few days ago actually).

Not sure how up-to-date this is but it's a start.

[2020-12-08 16:13] FoxxMD commented on #15
Thanks but that API is for writing plugins for Jellyin (in C#), not for a web API.

[2020-12-08 22:07] crobibero commented on #15
Currently the linked plugin does not send playback events, but it's on the radar

[2020-12-08 23:52] FoxxMD commented on #15
@crobibero hey im glad to hear that! Please do let me know if/when you get it implemented.

[2020-12-09 21:21] FoxxMD commented on #10
Implemented with release [0.3.1](https://github.com/FoxxMD/multi-scrobbler/releases/tag/0.3.1)

[2020-12-09 21:21] #10 closed

[2020-12-17 14:59] crobibero commented on #15
With version 2.2020.1217.1453 I've added playback notifications.
I still need to add some documentation, but it should have more then enough information to get scrobbling working to any destination

Sample with all of the possible fields from a PlaybackStop event. Note that there can be many more provider ids.
[code]

[2020-12-18 15:17] FoxxMD commented on #15
@crobibero fantastic! Thanks for getting that implemented so fast. I will give jellyfin a try when rc2 is released and get this implement then. A few questions for you on the payload sample:

* Can you provide `duration` property so I can see the length (in some time unit) an item is?
* What unit is `PlaybackPositionTicks` measured in?
* Would it be possible to provide the jellyfin server version

[2020-12-18 15:53] crobibero commented on #15
Good points
I've added some additional properties:

[code]

[2020-12-18 16:35] FoxxMD commented on #15
@crobibero excellent thank you! duration and run time help tremendously to ensure i don't post duplicate scrobbles in the event the track is started/stopped multiple times. :+1:

[2020-12-30 15:20] FoxxMD opened #17 "Feature: Last.fm integration"
might as well

[2021-01-06 01:34] FoxxMD commented on #17
Done in [0.3.2](https://github.com/FoxxMD/multi-scrobbler/releases/tag/0.3.2)

[2021-01-06 01:34] #17 closed

[2021-02-24 21:24] christophernewton opened #19 "Feature: Frontend"
Hey there,

Thanks for creating this and supporting all the different scrobblers out there, your work is appreciated!

Im a front end dev and noticed the very basic views you have for the log/status area. If I were to create a frontend (still using ejs so that its still easily supported) would you be open to it?

What is there is functional and usable, just thought I could offer some help to make

[2021-02-25 14:12] FoxxMD commented on #19
Absolutely! A richer front end has been on my back burner list of ideas for awhile but I haven't had any incentive to build it because what's there works fine. Would love for you to take that on :)

[2021-03-01 21:37] #19 closed

[2021-03-12 16:15] FoxxMD commented on #15
@crobibero jellyfin 10.7 finally released! :tada: Plugin works well (was almost unusable in RCs, they fixed a lot of things it seems) but I have a few more requests for, if I may be so bold...

Here's what I'm with seeing (plugin version `2.2021.304.228`) as a payload using the "Send All Properties" checkbox (awesome addition btw):

[code]

* the `duration` and `runtime` properties you mentioned e

[2021-03-13 21:46] crobibero commented on #15
Not sure where the `RunTime` field went off to, so I've added it back.
Current output for music playback:
[code]

[2021-03-15 02:25] christophernewton opened #22 "Last.fm issue"
Hey there FoxxMD

I just added last.fm as a client and started noticing an error with uts/date which was stopping it from scrobbling.

https://github.com/FoxxMD/multi-scrobbler/blob/master/clients/LastfmScrobbler.js#L56

[code]

After looking around in the LastfmScrobbler file I could see that the destructure happening at the top of the file doesnt contain

[code]

Which seems to cause it to throw

[2021-03-16 15:02] FoxxMD commented on #22
Hey @christophernewton thanks for investigating this! I believe the response does not include a timestamp because it is "now playing". I've added a fix that ignores any tracks from last.fm with `nowplaying` attribute or missing timestamp (since I can't use them anyway!) and logs the action if you have `debug` set as your log level.

Let me know if this fixes your issue. It's in the `develop` branc

[2021-03-16 15:06] FoxxMD commented on #15
@crobibero thank you! <3

[2021-03-16 19:38] FoxxMD commented on #15
@Extarys please try the `develop` branch or `develop` tag on dockerhub with [these instructions](https://github.com/FoxxMD/multi-scrobbler/blob/develop/docs/configuration.md#jellyfin) and let me know if you have any issues.

[2021-03-16 20:57] christophernewton commented on #22
@FoxxMD Looks like that sorted it out, cheers! Can see the tracks coming up in last.fm now and no errors are being thrown.

`please let me know if you experience any issues using subsonic as a source`: So far this app is the best solution Ive found to support the subsonic api (I'm about to uninstall the web-scrobbler now that this covers all my use cases). Will let you know if I catch any issues!

[2021-03-16 21:26] #22 closed

[2021-03-18 01:03] FoxxMD opened #23 "Feature: Implement Last.fm as a source"
Make it easy for people scrobbling to Last.fm from other apps to scrobble to Maloja. This way they don't need to change their existing scrobbling strategy but can take advantage of self-hosting. Or work as a bridge to make transitioning to Maloja-only client scrobbling easier.

[2021-03-30 14:07] #15 closed

[2021-03-31 18:00] FoxxMD opened #24 "Feature: Mopidy Integration"
Implement [Mopidy](https://mopidy.com/) as a source:
- [ ] Using [mopidy.js](https://github.com/mopidy/mopidy.js)
- [ ] with [events](https://docs.mopidy.com/en/latest/api/core/#mopidy.core.CoreListener.track_playback_started) ([js](https://github.com/mopidy/mopidy.js#hooking-up-to-events))

Mopidy [does not use authentication](https://docs.mopidy.com/en/latest/ext/http/?highlight=authentication#m

[2021-04-13 04:34] PuppyLover101 opened #25 "Feature: Parse and Scrobble older music"
This is related to Spotify in particular; not sure if other platforms support it.

I see that you are able to see a history of previous trackers. I was wondering if there was a way to scrobble all previous history (that's possible, including API delays if possible) and then push to Maloja, for example

[2021-04-13 19:02] FoxxMD commented on #25
Hi! Yes this a feature I have been considering implementing. It should be pretty easy to implement with the current code as a CLI command (since Maloja has its own import workflow) and I have also been considering how I could implement it _in-situ_ for user convenience.

However there are also legal issues with this feature to consider:
* All of the self-hosted sources (Plex, Jellyfin, subsonic) a

[2021-04-15 16:01] PuppyLover101 commented on #25
Thank you for the reply! For your Spotify point, IANAL but as per your comments, this is only a scrobbler and does none of the database generating / indexing itself. Seems like we are in the clear.. but you never know.

Looking forward to the enhancement, if time and your ToS tolerance abides.

For the implementation side, I would assume Spotify returns the time of play? In order to not have misma

[2021-04-15 16:23] FoxxMD commented on #25
Yes spotify returns a timestamp of when the track was played.

multi-scrobbler already does a pre-scrobble check on the client (Maloja, last.fm) to see if the track has already been scrobbled at that timestamp.

Implementation-wise I just need to code out letting the user determine a time range to scrape, paging source results, and maybe a stateful counter to keep track of progress in case of inte

[2021-04-23 08:34] etniasuns opened #26 "Feature: Add support scrobbling for Media Center (Jriver)"

[2021-04-23 12:52] FoxxMD commented on #26
https://wiki.jriver.com/index.php/DevZone
https://wiki.jriver.com/index.php/Web_Service_Interface

I'll see what I can do about getting jriver setup (im on ubuntu) when I have some free time

[2021-07-01 21:58] bastianvv opened #27 "[Docker] Error using Jellyfin as source"
**Environment:** Docker
**Version:** release-0.3.7
When setting up Jellyfin as a source, the container stops and logs show this error:

[code]

My config file is this one:
[code]

However, if I setup my config changing the "users" fields to "user", the container starts successfully and keeps running, and the logs now show:
[code]
If i try and play some music from my Jellyfin server with the change

[2021-07-02 14:12] FoxxMD commented on #27
thanks for finding this bug ill take a look at this soon

[2021-07-05 15:00] FoxxMD commented on #27
@bastianvv please try `latest` or `release-0.3.8` to see if that fixes your issue.

[2021-07-05 15:07] FoxxMD commented on #27
P.S. in your jellyfin source if you want to specify the server you should use the server name, not the url
![2021-07-05_11-07](https://user-images.githubusercontent.com/4663766/124491403-3c78c700-dd81-11eb-9a55-e6e8ba21717c.png)

[2021-07-05 22:46] bastianvv commented on #27
Ok, I updated my container to use release-0.3.8 image.
After that, I successfully configured the config file with the parameter "users" without any crashes. So yay!
Sadly, the multi-scrobbler log still shows the same message.
[code]
I should add my setup is in a LAN, so although the Jellyfin server name is configured with the hostname, all access to it is done through the server LAN IP address + p

[2021-07-06 03:19] FoxxMD commented on #27
I believe you are misunderstanding the usage of `servers` in the sources configuration.

Jellyfin initiates sending data to the multi-scrobbler instance, rather than multi-scrobbler initiating the request to Jellyfin. The server name is included in the payload Jellyfin sends. So it doesn't matter where or how your Jellyfin server is hosted mutli-scrobbler will always be able to parse the server na

[2021-07-06 04:53] bastianvv commented on #27
Thank you so much for the explanation. Indeed I completely misunderstood how it worked.
As recommended, I removed the "servers" property from my config and it worked immediately.
Tried again with the server name for testing sake, but I couldn't make it work.

Again, thanks for your help, and thanks for this awesome software.

[2021-07-06 04:53] #27 closed

[2021-07-06 12:10] FoxxMD commented on #27
hmm then that might be a bug! I'll get around to testing that soonish but if you want to open an issue for that feel free.

Glad you're enjoy the software :)

[2021-07-17 01:23] christophernewton opened #31 "Develop: `!source.hasAuth || source.authed` causing issue"
Hi @FoxxMD

Noticed on the latest develop branch that I cant click the "see recently played tracks" link as the added condition `!source.hasAuth || source.authed` seems to eval to false and just shows the class="disabled" Ive taken a quick look and it seems like it may be a race condtion on render vs the async call to check authed. Not 100% clear on how the implementation arrives at that point

![

[2021-09-04 11:41] nothing2obvi commented on #27
I was having trouble using Jellyfin as a source, then I found this thread. Needed to remove the "servers" line from my config file as well; now it works!

[2021-09-28 13:38] Syco54645 opened #32 "Last.fm auth not working"
I posted this on the unraid forum but will post here as well for better visibility.

Trying to get this setup and working and having issues with the last.fm client. It is telling me "Status: Auth Interaction Required". When I click the link to (re)authenticate or initialize I get various forms of failure. I have created an API key and put the values in to the config.json. I am unsure of how it sho

[2021-09-28 17:12] FoxxMD commented on #32
Thanks for creating an issue here and thanks for providing logs!

From your logs it looks like either you or multi-scrobbler is providing an invalid `session` value. This is most likely because your configuration is incorrect. Please check these things:

### Key and Secret are provided in your config

Ensure that you are providing the **API Key** and **Secret** you received from registering your l

[2021-09-28 18:46] Syco54645 commented on #32
Hello and thank you for the response. I should have made it clear that I am running this in unraid via a container. I have created another api and made sure that the redirectUri matches what was entered in to last.fm when creating the api. It still does not appear to be working. Would multi-scrobbler modify the config.json file (if so perhaps it is a permission issue)?

Pasting my config with the

[2021-09-28 18:55] Syco54645 commented on #32
So I just restarted and now it is working. The only thing I changed was I noticed that the `partyPlex` did not have a user defined and was pointing to a library that I did not actually have. I reverted that and am unable to produce the same failure. I am unsure why it is working now. I can help if you want to try to debug this further and see why it was not working correctly in case there is somet

[2021-09-28 19:04] FoxxMD commented on #32
Turning it off and then back on again fixes everything :upside_down_face: glad its working now. That gives me a good hint as to why it might not be working (potentially not parsing retrieved session id on first setup?).

For now I'd call this case closed. If you experience this happening again please let me know. When I have some time to work on MS i'll check this out as well.

[2021-09-28 19:04] #32 closed

[2021-09-29 13:00] Syco54645 opened #33 "Scrobbles not showing in last.fm"
Hello again,

Now that the application appears to be working correctly I have hit another issue, the scrobbles are not being show in my last.fm account. In the log it appears that they are being sent but maybe I am misinterpreting something there. Is there some way I can further debug this issue? Pasting the log from yesterday, this is the log in ms rather than the docker container but I do not se

[2021-09-29 16:43] #31 closed

[2021-09-29 16:54] FoxxMD commented on #33
Testing for my last.fm account showed that all of the scrobbles from MS are being ignored with [error code 1](https://www.last.fm/api/errorcodes) (which is extremely unhelpful). There doesn't appear to be any issue with the actual data being sent.

I'm also not seeing any scrobbles to last.fm from [web-scrobbler](https://web-scrobbler.com/) in my browser and it looks like [last.fm has had issues i

[2021-09-29 20:15] Syco54645 commented on #33
Thank you @FoxxMD for adding that. I looked at the error code table and just had to laugh. This is a good case for setting up Maloja and then just scrobbling to last.fm from there. I am not sure if that is possible currently, I think #23 addresses that but in the other direction. Another solution could be some sort of a job queue but that is a bit much and probably out of scope. Sorry do not mean

[2021-09-30 12:53] Syco54645 commented on #33
I wanted to add here that I was able to manually scrobble by using http://universalscrobbler.com/ but that uses oauth it seems. Maybe something is messed up just for the api implementations currently. I have not dug any further than that right now.

[2021-10-04 18:21] FoxxMD commented on #33
@Syco54645 is this issue still ongoing?

[2021-10-04 19:43] Syco54645 commented on #33
@FoxxMD it is still ongoing. I am able to scrobble using universal scrobbler but multi-scrobbler is still failing.

[2021-10-05 16:07] FoxxMD commented on #33
@Syco54645 can you try the latest `develop` build to see if that fixes your issue

[2021-10-05 20:08] Syco54645 commented on #33
That seems to have fixed it. I will continue to run the develop branch till it is merged master/default. Thanks so much!

[2021-10-05 20:08] #33 closed

[2021-10-06 13:39] FoxxMD commented on #11
May be obsoleted by https://github.com/krateng/maloja/issues/47#issuecomment-934558498

[2021-10-12 21:11] OmgImAlexis opened #34 "Feature: Youtube / Youtube music"
Would love to see Youtube and/or Youtube music integration.

[2021-10-13 16:11] FoxxMD opened #35 "Feature: Deezer"
Deezer looks like it supports listening history

https://developers.deezer.com/api/explorer?url=user/me

[2021-10-13 20:23] OmgImAlexis commented on #34
Okay that'll be good enough for now. At least with the chrome extension I can get `music.youtube.com` tracks scrobbled.

[2021-10-13 20:59] FoxxMD commented on #9
I'd be willing to do that. Biggest roadblock with this initially was that I could even begin to develop & test this without the $99 upfront cost -- and I don't use apple music.

If you'd be willing to lend me your credentials/developer token/whatever it is I need to develop this I would do it. Hit me up at multi@foxxmd.dev or on discord at FoxxMD#5986 if you're interested.

[2021-10-19 20:50] FoxxMD commented on #35
https://github.com/krachot/passport-deezer might make authentication easier

[2021-10-21 20:32] FoxxMD commented on #9
Awesome thank you @Exerra ! One question..since node-musickit-api handles JWT can I get direct access to the resolved `developerToken` by just initializing node-musickit-api? That would help with the `userToken` step when using musickitjs since it requires a developer token to initialize.

[2021-10-21 20:35] Exerra commented on #9
Hmm, didn't even think of this use case

No, you can't. However I can make it so it gets exported in v2.1.1

[2021-10-21 22:10] FoxxMD commented on #9
thank you!

[2021-10-22 22:27] Eyeball753 opened #36 "Maloja status: "Awaiting Data""
Hi,

I'm trying to connect this to Maloja. According to the logs the test connection to Maloja succeeded, yet its status is "Awaiting Data". I'm assuming this is because I have to put Multi-Scrobbler's API in authenticated_machines.tsv file, but where can I find the API? I must be missing something obvious but I can't seem to find it anywhere.

Thank you.

[2021-10-25 18:19] #36 closed, assigned to nobody

[2021-11-03 16:31] FoxxMD commented on #11
Looks like for single-user scenarios the maloja plugin for funkwhale will be easier than setting up anything for MS.

However the funkwhale api (not subsonic) supports a [listening endpoint](https://docs.funkwhale.audio/swagger/#/User%20activity/get_api_v1_history_listenings) that allows retrieving history for **all** users who make it available on that instance (pod?)...I can't think of a scenari

[2021-11-03 16:31] #11 closed

[2021-12-04 03:48] jackbcohen opened #37 "Docker-Compose with Maloja"
Hello!
I'm trying to run multi-scrobbler and maloja in a docker-compose file, but am having trouble getting MS to see maloja or authenticate with spotify.
The web interfaces both boot up. The Spotify auth let me log in one time, and now when I click it shows "OK" on a white screen, but I get an error message in the console - "[Source - Spotify - unnamed] Cannot start polling because user interacti

[2021-12-06 15:27] FoxxMD commented on #37
### For the spotify issue

Check that, after logging in, there was a `.json` file created in `/mnt/comet/docker/multi-scrobbler/config` that looks something like `currentCreds-[spotifySourceName].json` -- MS saves the credentials returned from the spotify authorization process. Make sure that your container can **write** to this directory in order to save the credentials file.

Also double check t

[2021-12-08 06:07] jackbcohen commented on #37
Thank you so much for offering this help, it's gotten me a lot further! Right now, I have Spotify auth working perfectly through MS. Connecting to Maloja is still giving me some trouble, though - even with static IP addresses, MS is throwing an error when trying to connect to Maloja. I've gotten it to work, but when I restart the containers, it likes to fail again.

Error message I am seeing:

err

[2021-12-08 17:29] FoxxMD commented on #37
So you have had it successfully connect, its only when starting the containers initially it does not work?

I, personally, have an issue with maloja's startup performance that might be the same as what you are experiencing...

When Maloja starts up it first parses all of the scrobbles available to it to build an in-memory database (from `.tsv` files storing all scrobbles). I've found, for me at le

[2021-12-08 19:48] jackbcohen commented on #37
You're amazing, looks like thta delay was the issue. Interestingly, if you just restart maloja or multiscrobbler independently, it won't re-connect. But Maloja first, waiting for the cpu spike/ram load to stop and then loading MS worked perfectly.

Thanks so much for your help, this is absolutely amazing and I'm really excited.

One other random question but really feel free to ignore: does Maloja

[2021-12-08 21:28] FoxxMD commented on #37
I'm not super familiar with the innerworkings of maloja but from what I can tell from a quick peak in my own config folders...

There is a `/config/cache` folder that contains two files named `imgcache_*` . It looks like Maloja gets artwork URLs from whatever provider you use (spotify) and then caches the URL in association with the artist/track -- but not the actual image files.

I believe if you

[2021-12-08 21:28] #37 closed

[2021-12-11 18:21] FoxxMD commented on #9
I'm still working on this (haven't had much free time) but in the meantime there is a [macOS application to scrobble from itunes to maloja](https://github.com/Atelier-Shiori/OngakuKiroku), if this helps anyone.

[2021-12-14 16:17] FoxxMD commented on #37
@jackbcohen I've implemented a more granular readiness check for Maloja in 9bc6f44af486c04cadf533fbc5fe874c5bc5802c that should eliminate any need for delays. To use this:

* Use the `develop` docker image (`foxxmd/multi-scrobbler:develop`)
* Use the latest Maloja server `12.12.18`
  *  There is now an official Maloja dockerhub you should change your image to point to `krateng/maloja:latest`

For

[2021-12-17 15:58] #35 closed

[2021-12-17 16:03] FoxxMD commented on #37
@jackbcohen update to maloja `12.12.19` and `latest` MS image. You can remove any delays now and logs should be clear about maloja rebuild status. The client will automatically start scrobbling once the database is ready.

[2021-12-17 23:39] jackbcohen commented on #37
@FoxxMD Working perfectly with both docker images on `latest`.

Thanks so much for your work on this and maloja - loving the setup and software!

[2021-12-22 04:40] kelchm commented on #9
I've started looking into the [/v1/me/recent/played/tracks](https://developer.apple.com/documentation/applemusicapi/get_recently_played_tracks) API a bit, and it appears to have some pretty frustrating limitations:

- There does not appear to be any kind of timestamp that is associated with the returned items.
- Despite there being both `songs` and `library-songs` types specified in the docs, I on

[2021-12-22 15:36] FoxxMD commented on #9
@kelchm thanks for looking into this!

This isn't a huge issue. The [subsonic](https://github.com/FoxxMD/multi-scrobbler/blob/master/sources/SubsonicSource.js) api also has this issue so I implemented a simple [state machine-esque source](https://github.com/FoxxMD/multi-scrobbler/blob/master/sources/MemorySource.js) that keeps track of when a track is first seen through polling and doesn't scrobbl

[2021-12-22 17:44] kelchm commented on #9
Sorry, it seems that my initial understanding was partially incorrect. Here is my current understanding of the limitations:

It appears that the history API does **not** report any tracks that are played via a radio station or "autoplay" (toggled at the top of the queue list).

Any tracks that a user directly adds to the queue themselves **will** be reported.

**Example**: if a user plays a song f

[2021-12-31 17:16] mannp opened #38 "Maloja config / comms errors?"
Not sure what I am doing wrong, as I am getting some strange errors from my maloja config;

[code]

Can you see anything that I am doing wrong? As I don't see why I am getting communication succeeded then failed?

Thanks.

[code]

I have also tried with the 'type' of maloja, but it gave me the same error.

[2022-01-01 05:41] krateng commented on #38
Sorry, that's my fault - changed something with the API. I'll fix it asap.

[2022-01-01 05:52] krateng commented on #38
2.14.6 should now work again, I hope.

[2022-01-01 09:00] mannp commented on #38
Thanks for the quick response and fix 🙂

I did try 2.14.4 and that also failed the same, fyi.

Will give your update a try, thanks.

[2022-01-01 13:42] #38 closed

[2022-01-01 16:13] FoxxMD commented on #38
Thanks @krateng !

[2022-01-05 16:14] cpuks opened #39 "cannot connect to maloja using >=0.3.10"
When I upgrade to latest which is 0.3.10 I cannot authenticate maloja - nothing changed according to changelog on both sides, I'm using latest tag for maloja and multi-scrobbler but 0.3.10 gives error and can't connect to maloja - using 0.3.9 solves issue.

[2022-01-05 18:05] FoxxMD commented on #39
Can you provide any logs? Are you sure you have pulled the `latest` image for maloja? There was an [issue with a recent version of maloja that broke the way it reported its version.](https://github.com/FoxxMD/multi-scrobbler/issues/38)

[2022-01-07 18:37] cpuks commented on #39
OK so:
`/usr/src/app # maloja info

#####
Maloja v2.14.6
https://github.com/krateng/maloja
#####

Configuration Directory: /config
Data Directory:          /config
Log Directory:           /config/logs
Network:                 IPv4, Port 42010
Timezone:                UTC+0`

`Fri, 07 Jan 2022 18:34:16 GMT express-session deprecated undefined resave option; provide resave option at file:/home/node

[2022-01-13 17:01] FoxxMD commented on #39
Your logs look ok...can you try this and post your logs:

* Set `LOG_LEVEL` to `debug`
  * Running using node: `LOG_LEVEL=debug node index.js`
  * Docker: `run ... -e LOG_LEVEL=debug foxxmd/multi-scrobbler`
* Play a song on spotify and wait for it to be picked up my multi-scrobbler
* Post all logs here

[2022-04-02 15:27] mannp opened #40 "Issue with Plex scrobble"
I cannot seem to get Plex to scrobble...

`2022-04-02T14:58:31+01:00 info : [Source - Plex - myplex ] Initializing with the following filters => Users: N/A | Libraries: N/A | Servers: http://192.168.40.65:32400`

I have a webhook setup in Plex, well two and neither work;

`http://192.168.10.41:9078/plex` &

`http://localhost:9078/plex`

Nothing appears in the log except timeouts for deezer occasio

[2022-04-13 14:31] mannp opened #41 "BUG: express-session deprecated undefined resave option"
Maybe unrelated but since upgrading to maloja v3 I am getting this error starting ms?

[code]

[2022-04-13 18:20] cpuks opened #42 "maloja 3.0.2 connection problem"
Hello, after recent maloja upgrade to 3.0.2 I see error:
[code]

[2022-04-13 18:20] #39 closed

[2022-04-14 03:03] FoxxMD commented on #42
Hi! I have not had time to test MS with the new maloja version yet but I will get to it soon! Thanks for reporting this.

[2022-04-14 13:47] FoxxMD commented on #42
Should be fixed in 8219dcecd74f0cfc6e7f8f22d33c5373d1db1010 ...testing now with docker image to verify before pushing to `latest` tag

[2022-04-14 14:00] #41 closed

[2022-04-15 04:05] Eyeball753 commented on #42
I had the same issue as cpuks so I updated multi-scrobbler but saw that there was another Maloja update so I updated that to 3.0.3 and that's giving me a different error now.

Here is a log with the errors.
[multi-scrobbler-2022-04-15T04-02-06.log](https://github.com/FoxxMD/multi-scrobbler/files/8493735/multi-scrobbler-2022-04-15T04-02-06.log)

[2022-04-15 13:45] FoxxMD commented on #42
@Eyeball753 can you try the `develop` docker image tag and let me know if that fixes things?

[2022-04-15 15:16] Eyeball753 commented on #42
Here's a log and image (to verify to you I'm using the develop tag) of me trying it with Maloja 3.0.2 and 3.0.3. Everything seems to work fine. Thank you!

[multi-scrobbler-2022-04-15T15-14-28.log](https://github.com/FoxxMD/multi-scrobbler/files/8496676/multi-scrobbler-2022-04-15T15-14-28.log)

![image](https://user-images.githubusercontent.com/63377657/163588375-93a54d18-cec8-44b8-bfb9-3d8c5016bb

[2022-04-15 15:24] #42 closed

[2022-04-15 15:30] FoxxMD commented on #42
@krateng Just FYI maloja 3.0.3 was returning a 500 with the old data shape (that I've been using since I created MS) for `newscrobble` endpoint :

[code]

I changed `artist seconds` to `artists `length` and it fixed things.

[code]

Not sure which one was the issue. Just letting you know in case there was an actual BC for `newscrobble` since that would affect more than just MS.

[2022-04-15 15:40] krateng commented on #42
`length` was actually the correct key before, `seconds` wouldn't have actually registered - it's just that Maloja before didn't complain about extra keys. I could implemented `seconds` as an alias or implement a more graceful fail on extra keys. `artist` and `artists` should both work (though `artists` is encouraged).

[2022-04-15 16:12] cpuks commented on #42
@FoxxMD used develop and maloja 3.0.3 - works fine

[2022-04-15 16:17] FoxxMD commented on #42
Oops! Didn't know seconds was wrong. I'll correct that.

Nope, intention was always length of the track. So I had the right data just the wrong key :)

[2022-04-20 17:04] lylebrown opened #43 "Environment variable or config setting to set Time Zone?"
I'm wondering if there's a way to set the time zone of scrobbles before sending them over to Maloja. (If this is actually something that needs to be adjusted in Maloja, let me know.)

In my personal use case, I would just need the ability to set the time zone system-wide, but I would imagine others may want to adjust it per client in a multi-user scenario, so it may be worth building it into the c

[2022-04-20 18:11] FoxxMD commented on #43
MS determines the time for a scrobble by following these rules in order:

## 1. Time from Source

If the **Source** data contains a "played at" datetime then this is used. Sources like Spotify, Last.fm, and Deezer always include this data and AFAIK use either unix epoch or datetime with timezone included so an accurate timestamp is preserved.

## 2. Time of Ingestion

If the **Source** data does n

[2022-04-20 21:33] lylebrown commented on #43
Thank you for this information! I added the timezone environment variable and am seeing that reflected in the dashboard.

For Maloja, I needed to adjust the "UTC Offset" setting and restart the service. Hopefully this information helps someone else in the future.

[2022-04-20 21:33] #43 closed

[2022-04-21 16:23] mrstrayer commented on #40
Hello! I don't have anything helpful to add here yet, but I just wanted to let you know that I may be having the same issue. I just got everything set up finally this morning. Spotify is working fine, but it is slow, so I'm kinda waiting to see if there's just a significant lag in Between me clicking "play" on a song and it eventually getting to the scrobbler. I'll report back.

[2022-04-21 21:52] mannp commented on #40
Yes, the documentation uses different terminology than my Plex account does, but it clearly states that neither are needed, so it should work without the email or username.

Did you use the full ip address of your MS instance, with /plex appended in the Plex webhook?

[2022-04-22 03:02] mrstrayer commented on #40
I have the full IP address in there, yes, with /plex appended. Working just
fine.

On Thu, Apr 21, 2022 at 4:52 PM mannp ***@***.***> wrote:

[2022-04-24 15:42] northys opened #44 "Maloja stuck in Cannot scrobble state"
Today I've noticed that multi-scrobbler did not add new scrobbles to my maloja instance but it worked perfectly with last.fm. This happened multiple times already. Usually when maloja got restarted or upgraded.

I think this is some problem with multi-scrobbler reconnect mechanism rather than majola iself because it starts  to work immediately after I restart multi-scrobbler docker container.

[co

[2022-04-24 15:50] northys commented on #44
What should I look for next time this happens to provide more info? Do you wait for `healthy: true` or `complete: true`?

[code]

[2022-04-24 16:05] northys opened #45 "ARM docker image builds"
Are you interested in ARM builds? I've implemented those for maloja and it looks like you have almost the same actions file so it should be piece of cake to implement it into your workflow as well.

[2022-04-24 16:09] northys commented on #40
After you click on `See recently played tracks returned by API` there is a warning :) **This list was returned from the Spotify Api now. Sometimes Spotify "backlogs" user activity so your recent tracks may not show up for minutes (or hours). ¯\_(ツ)_/¯**

[2022-04-25 14:13] FoxxMD commented on #40
Sorry for the severely long delay on this @mannp . Most of the free time these days is put into [another project](https://github.com/FoxxMD/context-mod) I am working on. On top of that, I've had to pin the version of plex I use (1.24.5.5173 oct 2021) because of a transcode issue that made it unusable in later versions. I mention that because trying to reproduce your issue would require me spinning

[2022-04-25 14:15] FoxxMD commented on #45
Yes! If you can implement that and create a PR I would be happy to accept it.

[2022-04-27 08:21] northys commented on #45
closing as it wasn't closed automatically in merge request. maybe [fixes #] must be used instead of [closes #]

[2022-04-27 08:21] #45 closed

[2022-04-27 15:30] northys opened #47 "Is there some kind of name normalization?"
I've listened to song PIG something song and it got scrobbled as Pig to both maloja and last.fm. Do you normalize scrobbles somehow?

In log I can see PIG and maloja author says he doesn't normalize song names but he keeps the first scrobbled name. I listened to same song by same artist 4 times and in spotify it is called PIG.

In last.fm I can also see Pig. This is not a big deal for me actually

[2022-04-27 15:33] northys commented on #47
Okay it seems like this is not multi-scrobbler issue as maloja shows in log that it received `PIG`.

[2022-04-27 15:33] #47 closed

[2022-04-27 21:53] northys opened #48 "Tautulli -> Last.fm always fail on error code 1"
When I scrobble anything from tautulli to last.fm it fails. Does that happen to anyone else?

I don't have any issues with maloja. I don't think it is about the song / artist... It actually doesn't matter what I listen to on my plex (tautulli).

It's funny that [the doc says the error code](https://www.last.fm/api/errorcodes) doesn't exist :roll_eyes:  `1 : This error does not exist`

[code]

This

[2022-04-27 21:58] northys commented on #48
It happens also for mainstream matal. I tried also some soundtracks of well known movies... Everything fails :(

I expect that multi-scrobbler just push artist / song name to last.fm, doesn't it? So the last.fm itself has no idea what is the source of the music.

[code]

[2022-04-28 14:30] FoxxMD commented on #48
I suspect this has something to do with the structure of the data being sent to last.fm rather than the specific data that is sent. Such as a malformed timestamp or missing field from tautulli. I left this [note to myself](https://github.com/FoxxMD/multi-scrobbler/blob/master/clients/LastfmScrobbler.js#L261) for last.fm scrobbling :sweat_smile:

[code]

Can you update to the latest `develop` docke

[2022-04-28 20:08] northys commented on #48
Thanks for looking into it! I think the problem is the duration parameter. It looks like tautulli sends it in minutes LOL.

from https://www.last.fm/api/show/track.scrobble: duration[i] (Optional) : The length of the track in **seconds.**

[code]

I've selected debug logging in WEB UI but I don't see log like this one from spotify.

[2022-04-28 20:27] northys commented on #48
do you have an idea why the [fixes #something] or [closes #something] doesn't work when I send PR?

[2022-04-28 20:27] FoxxMD commented on #48
Ah that would do it! Last.fm thought you were scrobbling after listening for 3 seconds so it just ignored it..think they require 30 seconds or more of play time.

Also for anybody looking for more context in the future -- `duration_sec` was added to [tautulli in May 2021](https://github.com/Tautulli/Tautulli/commit/e5da3423e9d80660b2208f0007e7b7a1e87a0668)

[2022-04-28 20:27] #48 closed

[2022-05-09 23:45] mariolopjr commented on #9
@FoxxMD you mind pushing up the in-progress branch (I'd like to take a stab at getting this implemented)? I subscribe to Apple Music and it would be nice to scrobble from it. A roundabout way I can achieve this is using multi-scrobbler to scrobble lastfm to maloja and use third-party apps on macOS and iOS to scrobble to lastfm. It'd be vastly easier to have multi-scrobbler use the music api.

From

[2022-05-10 01:14] FoxxMD commented on #9
@mariolopjr the [`appleIntegration`](https://github.com/FoxxMD/multi-scrobbler/tree/appleIntegration) branch is now on par with `develop` (current)

I don't know...definitely should give it a try with your free one first though!

The [quick start guide for node-musickit-api](https://musickit.js.org/#/?id=quick-start) is a good starting point and I have more details about the required keys/data in

[2022-05-11 00:08] mariolopjr commented on #9
@FoxxMD awesome thanks!! Will take it for a spin and see what happens :D

[2022-05-14 01:11] elit3ge commented on #44
I've got something similar.
Following the line of process; Listen using Plex -> Last.fm -> Multi-Scrobbler-> Maloja

If I haven't listened to anything in say, more than 12 hours it goes into the Cannot Scrobble state. I have to restart my Multi-Scrobbler container for it to work again. Is there some setting I need to configure?

When it errors out again, I'll post the screenshot.

[2022-05-14 18:10] northys commented on #44
It happened again. Maloja is running for 6 days and last scrobble was 7 days ago.

[code]

[code]

[2022-05-14 18:11] northys commented on #44
After multi-scrobbler restart I can see new scrobbles in maloja.

![Uploading image.png…]()

[2022-06-13 23:01] k-boyle commented on #40
I'm having the same issue and from the logs it looks like he webhook gets sent successfully;

[code]

[2022-06-14 17:25] k-boyle commented on #40
I've debugged locally and it looks like the issue is here, I don't know why you wouldn't just use `req.body` directly however

[image](https://user-images.githubusercontent.com/17115277/173639196-a4ecaa1b-afb6-44c3-aa58-af457a336494.png)

[2022-06-14 19:48] FoxxMD commented on #40
Thanks for looking into this!

So using `plex.json` did not work or is there any issue with default config for plex?

I'm guessing this is a regression introduced in a recent version of plex? They do hooks in such a weird way (multi-part POST) it could also be that Plex is sending *some* of the hook but not data signifying the end of the mult-post POST call.

[2022-06-14 19:55] k-boyle commented on #40
That might be my bad, the docs read to me as if the configs were optional 😵

So I was seeing a weird request without a body which was occurring about 80% of the way through songs (Plex docs say it sends scrobble at the 90% mark) but with no data attached, I couldn't tell what it was exactly. Also I think this weirdness might apply to the start stop too since I'm only getting some of them in my for

[2022-06-14 19:59] FoxxMD commented on #40
@k-boyle you could try debugging before `multer` gets ahold of the request(s) to see if plex is doing things differently now. I would think `multer` would transparently pass along a normal json POST with no multi-part but I'm not sure.

[code]

[2022-06-14 20:18] k-boyle commented on #40
Although funnily somehow I got a scrobble on my running fork that uses the play event
![image](https://user-images.githubusercontent.com/17115277/173680939-e8ea6172-7773-4444-99bc-2ad1ee316d81.png) which is the first I've seen in a couple hours of testing

Ignore the log saying the wrong thing

[2022-06-15 15:56] FoxxMD commented on #40
@k-boyle @mannp @mrstrayer I have refactored how requests from plex are handled by using a different library with more control over the request lifecycle. Changes include much more debug logging, aggressive checking for valid data in the request (with errors thrown if not), and some potential fixes for the issues @k-boyle was specifically seeing.

Can you all try MS with on the `develop` branch/im

[2022-06-16 22:38] elit3ge commented on #44
@FoxxMD I've just swapped over to the develop branch will see how I go.

[2022-06-18 20:25] northys commented on #44
[code]

[2022-06-23 13:42] FoxxMD commented on #44
All going well?

[2022-06-23 23:19] northys commented on #44
i would wait a bit longer but so far so good on my side
On Jun 23, 2022, 15:42 +0200, Matt Foxx ***@***.***>, wrote:

[2022-06-26 22:11] elit3ge commented on #44
@FoxxMD Still working a treat on my side.

[2022-06-28 15:25] FoxxMD commented on #40
@k-boyle @mannp @mrstrayer any updates or had time to test this out?

[2022-06-29 07:31] mannp commented on #40
I tested the changes a few days ago and didn't see any immediate change, but it was rather brief test and I haven't got around to trying it again.

Thank you for the further investigation and changes, I will give them another try and report back.

[2022-08-25 13:22] FoxxMD commented on #40
Any updates @k-boyle @mannp ?

[2022-08-25 18:35] mannp commented on #40
Sorry not had chance to retest, will do over this weekend, if that works.

[2022-09-11 02:54] #40 closed

[2022-09-27 15:27] DieSteinhose opened #51 "BUG: No scrobbling when using Spotify connect"
Due to a seeming bug at Spotify, it is (currently?) not possible to get songs via the `recently-played` api endpoint, which were played via Spotify connect. The endpoint `currently-playing` shows the correct song though.

Is there a way to include this as a fallback?

Greetings

[2022-09-27 15:42] FoxxMD commented on #51
Do you have evidence recently-played explicitly excludes tracks played via spotify connect? Or have you seen this occur over a prolonged period?

`recently-played` only updates _after_ spotify sees you "move on" from the current track. The track needs to have been played at least 30 seconds, then the player need to have been stopped for some amount of time (minutes?) OR a new track needs to be "cu

[2022-09-27 16:17] DieSteinhose commented on #51
I first noticed this behavior a few weeks ago, and since then the Spotify connect songs were always left out.

I just went through the steps, and yes exactly. The Spotify player song are displayed there and the Spotify connect are not.

[2022-09-28 12:46] FoxxMD commented on #51
Ok, thanks for verifying.

I looked into it but don't have any good news for you...

* The [recently-played](https://developer.spotify.com/documentation/web-api/reference/#/operations/get-recently-played) documentation mentions nothing about spotify connect, specifically
* The [spotify connect](https://developer.spotify.com/documentation/web-api/guides/using-connect-web-api/) documentation also do

[2022-09-28 15:55] timkicker opened #52 "BUG: Cannot authenticate Last.FM as Server"
Using the latest Version. How did it happen:
I set up my configuration file like the following:
![image](https://user-images.githubusercontent.com/33966128/192826547-cab9269b-1a9e-4820-bc15-0dd4afc045eb.png)

So far everything seems to work:
![image](https://user-images.githubusercontent.com/33966128/192826726-64a296cf-9425-47b9-834c-e16d0dddfdf8.png)

But after i hit the authentication-button (la

[2022-10-30 04:28] HStep20 commented on #40
I think Im having issues related to this as well. Im currently on the develop tag (tried on latest as well), but I cannot get it to pick up Plex or Tautulli webhooks being sent to the proper URL endpoints.

I see the webhooks being sent in the Tautulli notification logs, but noting is coming through on the MultiScrobbler end. Debug logs reveal nothing when configured (what I assume is) properly, b

[2022-10-30 10:02] all64bits opened #53 "Access dashboard on server"
I have the docker image installed on my headless server (via docker-compose). I can't reach the dashboard when I try to remotely access http://servername:9078 (rather than http://localhost:9078). I've tried looking through the docs for a setting to allow for reaching the dashboard from another machine, but I can't find anything?

[2022-10-31 12:44] FoxxMD commented on #53
Make sure you are [mapping the port](https://docs.docker.com/compose/compose-file/compose-file-v3/#ports) (9078) in the docker-compose.yml file

[2022-11-01 19:00] all64bits commented on #53
Thanks @FoxxMD, I've mapped the port as 9078:9078 now. However when I go to http://servername:9078 I get a page saying 'Cannot GET /'?

[2022-11-02 13:58] FoxxMD commented on #53
Have you checked to make sure the MS container is running? Do you have log output from it?

MS does not care (or know) where you are access it from as long as the container port is mapped. If you are sure the container is running then this sounds like a networking issue with your headless server. Does it have a firewall? Are you sure 9078 is open on the headless server?

[2022-11-05 19:59] all64bits commented on #53
Thanks for the follow-up @FoxxMD.

I've just tried the server/port now, and I can access the dashboard. I'm not sure what's changed between the time I checked when posting my last comment and now (nothing I'm aware of).

If I realize what change might've been causing the previous behavior, I can potentially open another issue, but will close this one now.

Thanks for the assistance!

[2022-11-05 19:59] #53 closed

[2022-11-22 00:15] blackwind opened #54 "Feature: Trakt support"
Any thoughts on expanding into video scrobbling via Trakt?

[2022-11-22 13:34] FoxxMD commented on #54
I'm not sure I understand the use-case here. It looks like Trakt already records your watches. Do you want to record movies to Maloja? Or pull from Trakt to another source?

[2022-11-22 18:36] blackwind commented on #54
So, with Plex, there's no ability to scrobble video without paying for Plex Pass AND Trakt. If I could do it from the same service that handles my Last.fm scrobbling, that'd be tremendously useful to me (and, I think, other Plex users).

[2022-11-28 01:36] iluvatyr opened #55 "A few things on the documentation"
## 1) Docker run example mistake?

In the docker run example, it shows following:

`docker run -e "SPOTIFY_CLIENT_ID=yourId" -e "SPOTIFY_CLIENT_SECRET=yourSecret" -e "MALOJA_URL=http://domain.tld" -e "MALOJA_API_KEY=1234" -v /path/on/host/config:/home/node/app/config foxxmd/multi-scrobbler`

When I finished my setup and connected via spotify, I noticed that there was a docker volume that was creat

[2022-11-29 00:54] aancel commented on #55
Hello,

Thanks a lot @FoxxMD for this package and @iluvatyr for this issue !

I was trying hard to get the container to run on a server, but I couldn't get it to accept the json configuration files when they were put in `/home/node/app/config`. I was also unable to properly login on Spotify as the credential json was stored in `/home/node/config`.

Following the comment from @iluvatyr, I moved the